// .prototyper {
//     margin: 0;
//     padding: 0;
//     font-family: Arial;
//     width: 100%;
//     height: 100%;
//     position: relative;
// }

// .node-menu {
//     position: fixed;
//     top: 2.2em;
//     left: 2.3em;
//     z-index: 1;
// }

.prototyper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
    margin-left: 0;
    height: 100vh;
}

.no-padding {
    padding: 0 !important;
}

@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }

    .content.is-open {
        margin-left: 100%;
    }

    .sidebar.is-open {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
        transition: all 0.5s, height 0s;
    }

    .sidebar.is-open > .sidebar-header span {
        display: unset;
    }

    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }
}
