.delete-node {
    background: url('../../assets/img/prototyper/delete-node.png') no-repeat;
    width: 115px;
    height: 116px;
    display: block;
    cursor: pointer;
    text-indent: -999px;
    overflow: hidden;
    position: fixed;
    bottom: 18px;
    right: 30px;
    z-index: 1;
}
