.protyper__nav {
    background-color: #172b4d !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.color--white {
    color: #fff !important;
}

// getting some very weird behavior here so just gonna comment this out right now...
// .nav__container {
//     margin-left: 0 !important;
//     padding-left: 0 !important;
//     padding-right: auto;
//     margin-right: auto;
// }
